@import "../../../styles//pallate.scss";

.SigninFormContent {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 40px;

  .registerLink {
    text-decoration: none;
    color: $logo-main;
    font-weight: 600;
  }

  .forgotPasswordCheckbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
  }
}
