@import "../../../styles/pallate.scss";

.inputContainer {
  display: block;

  .inputLabelName {
    font-size: 16px;
  }

  .inputFocus {
    border: 1px solid $logo-main !important;
  }

  .inputErrorMessage {
    color: $error-msg;
    font-size: 12px;
    height: 8px;
  }

  .inputTextContainer {
    display: flex;
    align-items: center;
    justify-content: start;
    width: calc(100% - 32px);
    height: 56px;
    background-color: map-get($map: $grey-palette, $key: 50);
    padding: 0 16px;
    border-radius: 12px;
    margin-top: 8px;

    input {
      width: inherit;
      height: inherit;
      margin: 0;
      padding: 0 16px;
      border: none;
      background-color: map-get($map: $grey-palette, $key: 50);
      font-size: 16px;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: map-get($map: $grey-palette, $key: 500);
        font-size: 16px;
      }
    }

    .inputEyeIcon {
      button {
        border: none;
        background-color: map-get($map: $grey-palette, $key: 50);
      }
    }
  }
}
