$logo-main: #ea5523;
$error-msg: #b31312;

$milk-palette: (
  0: #fdfbf5,
  200: #f8f0de,
);

$grey-palette: (
  0: #ffffff,
  50: #fafafa,
  100: #f7fafc,
  200: #edf2f7,
  300: #e2e8f0,
  400: #cbd5e0,
  500: #a0aec0,
  600: #718096,
  700: #4a5568,
  800: #2d3748,
  900: #1a202c,
);

$green-palette: (
  500: #31b099,
  900: #203838,
);

$orange-pallate: (
  0: #ffffff,
  10: #fdeee9,
  20: #fbddd3,
  30: #f9ccbd,
  40: #f7bba7,
  50: #f5aa91,
  60: #f3997b,
  70: #f18765,
  80: #ef764f,
  90: #ed6539,
  100: #ea5523,
);
