@import "../../../../styles/pallate.scss";
.authFormContainerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: map-get($map: $grey-palette, $key: 0);
  height: 760px;
  width: 620px;
  border-radius: 10px;

  & h1 {
    font-size: 30px;
    font-weight: 700;
    color: map-get($map: $grey-palette, $key: 7);
    padding-left: 40px;
    margin-top: 16px;
  }
}
